.topmodalcont {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    align-items: center;
    padding-top: 20px;
    border-radius: 20px;
    /* border: 3px solid #B92B27 */
}

.topbutton {
    display: flex;
    /* justify-content: center; */
    width: fit-content;
    margin-top: 15px;
    box-shadow: 2px 2px darkgray;
    border: 2px solid darkgray;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.topbutton:enabled {
    color: white;
    background-color: #B92B27;
    box-shadow: 2px 2px black;
    border: 2px solid black;
    padding: 5px 5px 5px 5px
}

.topbutton:hover {
    cursor: pointer;
}

.topform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topname {
    height: 20px;
    margin-top: 20px;
}
