/* commented this out because it was
interfering with other page's css */
/* #heading {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
}

.question-form-container {
    width: 90%;
    margin-left: 100px;
}

.input-container{
    margin: 5px 0;
}
#question-label {
    margin: 0 5px;
}



#submit-question-button {
    margin: 5px 0;
}
 */
