.update-comment-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    padding: 30px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

/* textarea, updated */
#updatedComment {
    white-space: pre-wrap;
    font-size: 15.5px;
    width: 400px;
    height: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    font-family: sans-serif;
    resize: none; /* removes resize triangle */
    overflow-y: hidden; /* remvoes scrollbar */
}
#updatedComment:focus {
    outline: none;
}

.savechange {
    color: white;
    background-color: #B92B27;
    box-shadow: 2px 2px black;
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    margin-top: 10px;
    border-radius: 5px;
}

.savechange:hover {
    cursor: pointer;
}
