#create-question-modal-container {
    width: 539px;
    height: 255px;
}



#ask-a-question {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0;

}

.question-form-container {
    width: 90%;
    margin-top: 50px;
    margin-left: 50px;
}

.input-container {
    margin: 5px 0;
}

#question-label {
    margin: 0 5px;
}

#question-input {
<<<<<<< HEAD
    display: block;
    border: 1.5px solid;
    width: 800px;
=======
    height: 100px;
    width: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
>>>>>>> b12a9baae7fdd8d2712d021ac44bc73c8a00dd84
}



#submit-question-button {
    margin: 5px 0;
}

#choose-a-topic {
    margin-top: 12px;
    font-size: 13.5px;
    font-weight: bold;
    margin-bottom: 5px;
}
#choose-a-topic:focus {
    outline: none;
}

#modal-content {
    border: 3px solid #B92B27
}

#upload-an-image {
    font-size: 13.5px;
<<<<<<< HEAD
    margin-top: 12px;
=======
    margin-top: 10px;
    margin-bottom: 3px;
}

#image-file-input {
>>>>>>> b12a9baae7fdd8d2712d021ac44bc73c8a00dd84
    margin-bottom: 5px;
    font-weight: bold;
}


#image-input{
    margin-bottom: 5px;
    height: 30px;
}

/* select input */
#select-input {
    width: 120px;
    height: 22.5px;
}


#testing {
    display: inline-block;
    height: 100px;
}
