

.delete_sq {
    position: relative;
    list-style: none;
    display: flex;
    cursor: pointer;
    bottom: 15px;
    font-size: 12px;
    width: 60px;
}

.delete_sq > i {
    padding-right: 5px;
}

