#update-question-button {
    list-style: none;
    background-color: lightgray;
    color: black;
    font-size: 12px;
    width: 30px;
    border: 1px solid black;
    padding: 5px;
}
.bottom_text {
    display: flex;
    justify-content: space-between;
}

.user_question {
    position: relative;
    font-size: 15px;
    margin-top: 15px;
    color: grey;
    font-weight: 500;
}

.save_button {
    position: relative;
    top: 17px;
    height: 30px;
}

.create-comment {
    display: flex;
    margin-bottom: 20px;
}

.create-comment>textarea {
    width: 33em;
}

.comments {
    width: 35em;
}

.comment {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px 25px;
    width: 550px;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-radius: 5px;

}
