#update-question-button {
    list-style: none;
    background-color: lightgray;
    color: black;
    font-size: 12px;
    width: 30px;
    border: 1px solid black;
    padding: 5px;
}

.bottom_text {
    display: flex;
    justify-content: space-between;
}

.user_question {
    position: relative;
    font-size: 15px;
    margin-top: 15px;
    color: grey;
    font-weight: 500;
}

.save_b {
    display: flex;
    position: relative;
    top: 32px;
    margin-left: 20px;
    cursor: pointer;
}

.save_b>i {
    font-size: 15px;
}

.save_button {
    border: none;
    height: 10px;
    background-color: #F1F2F2;
    font-size: 15px;
    cursor: pointer;
}

.create-comment {
    display: flex;
    margin-bottom: 20px;
}

.create-comment>textarea {
    width: 33em;
}

.comments {
    width: 35em;
}

.comment {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px 25px;
    width: 550px;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-radius: 5px;

}

#update-question-button {
    display: inline-block;
    list-style: none;
    background-color: lightgray;
    color: black;
    font-size: 12px;
    width: 30px;
    border: 1px solid black;
    height: 15px;
}

.edit_question {
    position: relative;
    top: 33px;
    left: 150px;
    list-style: none;
    display: flex;
    cursor: pointer;
    bottom: 15px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
}

.edit_question>i {
    margin-right: 3px;
}

.fa-regular.fa-bookmark {
    padding-top: 2px;
    margin-left: 10px;
}

.save_button {
    font-size: 12px;
}

.subcomm {
    width: fit-content;
    margin-left: 10px;
    box-shadow: 2px 2px darkgray;
    border: 2px solid darkgray;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    /* margin-left: 35px; */
}

.subcomm:enabled {

    width: fit-content;
    color: white;
    background-color: #B92B27;
    box-shadow: 2px 2px black;
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    margin-left: 10px;
}
